<header>
  <nav>
    <li>
      <a href="#"><img src="/public/images/logo.png" alt="LinkLoom Logo" /></a>
    </li>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Get Started</a></li>
  </nav>
</header>
