<div class="hero">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Your Web, Woven Better</p>
</div>
<main>
    <div class="splash-div">
        <h1>LinkLoom</h1>
        <img src="/public/images/logo.png" alt="LinkLoom Logo">
    </div>
</main>