body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* SPLASH SCREEN */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-out, visibility 1s ease-out;
}

.splash-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.splash-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
